/* ==========================================================================
 # Colors
========================================================================== */

/* Basic colors
----------------------------------------------- */

$black:                #212121;
$white:                #fff;
$grey:                 #ddd;
$grey-light:           #eee;
$red:                  #fa2a20;

$blue:                 #42a0d9;

/* Context colors
----------------------------------------------- */

$primary:              #c82986;

/* Text colors
----------------------------------------------- */

$base-font-color:      #333;
$grey-font-color:      #888;

/* Special colors
----------------------------------------------- */

$menu-dropdown-bg:     $base-font-color;
$menu-dropdown-color:  $white;
