/* ==========================================================================
 # Width
========================================================================== */

/* Wrappers
----------------------------------------------- */

$max-width-s: 40rem; // 640px
$max-width-m: 45rem; // 720px
$max-width-l: 69rem; // 1216px

/* Content
----------------------------------------------- */

$content-default-width: $max-width-m;

/* Sub-menu width
----------------------------------------------- */

$menu-dropdown-width:  12rem; // desktop dropdown width

