/* ==========================================================================
 # All - Rules for all elements
========================================================================== */
/*
 *   ==================================== Fonts ================================
 */

@font-face {
  font-family: 'fitman';
  src: url('../../../fitman/assets/fonts/fitman.eot?xnr7gf');
  src: url('../../../fitman/assets/fonts/fitman.eot?xnr7gf#iefix') format('embedded-opentype'),
    url('../../../fitman/assets/fonts/fitman.ttf?xnr7gf') format('truetype'),
    url('../../../fitman/assets/fonts/fitman.woff?xnr7gf') format('woff'),
    url('../../../fitman/assets/fonts/fitman.svg?xnr7gf#fitman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fitman-"],
[class*=" fitman-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fitman' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fitman-facebook:before {
  content: "\e900";
}

.fitman-instagram:before {
  content: "\e901";
}

.fitman-linkedin:before {
  content: "\e902";
}

.fitman-pinterest:before {
  content: "\e903";
}

.fitman-twitter:before {
  content: "\e904";
}

.fitman-up:before {
  content: "\e905";
}

.fitman-right:before {
  content: "\e906";
}

.fitman-left:before {
  content: "\e907";
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 3.8rem;
  letter-spacing: 3.28px;
  color: $black;
  text-transform: uppercase;
}

h3 {
  font-size: calc(2rem - 2px);
  letter-spacing: 1.64px;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

p {
  font-size: 16px;
}

.padding-helper {
  padding: 15px 0;
}

.no-padding {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

/* Owl carousel */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  outline: none;
}

/* Arrows */
.owl-prev,
.owl-next {
  border: 3px solid $red !important;
  padding: 10px;
  margin: 10px;
  transition: all .3s ease-in-out;
  border-top: 3px solid $red;
  border-bottom: 3px solid $red;
  width: 50px;
  height: 50px;
  overflow: hidden;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

/*
*   Header image
*/

#header-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask: url('../../../fitman/assets/images/hero_mask.svg');
  -webkit-mask-position: bottom;
  -webkit-mask-size: cover;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    mix-blend-mode: multiply;
    opacity: 0.72;
  }


  .header-image-content {
    height: 30vh;
    display: flex;
    align-items: center;

    h2 {
      color: $white;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      letter-spacing: 3.3px;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 73px;
      margin: 0;
    }

    p {
      margin: 0;
      font-family: 'Oswald', sans-serif;
      color: $white;
      letter-spacing: 4.5px;
      line-height: 25px;
      font-weight: 700;
      max-width: 350px;
      margin-left: 46px;
      font-size: 18px;
    }
  }
}
