/* ==========================================================================
 # 404
========================================================================== */

.entry--404 {
  text-align: center;

  h1 {
    font-size: 67px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.66px;
    line-height: 73px;
    font-family: 'Oswald', sans-serif;
  }
 
  p {

  }

  a.btn {
    color: $black;
  }
}
