#about {
    
  
    p {
      font-size: 1rem;
      margin: 0 auto;
    }
  
    strong {
      color: $red;
      text-transform: uppercase;
      letter-spacing: 9px;
      line-height: 2.5rem;
    }

  }