/*
 *   ==================================== Home ================================
 */
#home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask: url('../../../fitman/assets/images/hero_mask.svg');
  -webkit-mask-position: bottom;
  -webkit-mask-size: cover;
  position: relative;


  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    mix-blend-mode: multiply;
    opacity: 0.72;
  }

  .home-content {
    height: 65vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: $white;

    h2 {
      font-size: 25px;
      line-height: 34px;
      letter-spacing: 16.5px;
      text-transform: uppercase;
      font-weight: 300;
      color: $white;
    }

    h1 {
      font-size: 67px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3.66px;
      line-height: 73px;
    }

    a.btn {
      margin-top: 32px;
    }
  }
}

/*Home locations*/
#h-locations {
  margin-top: -100px;

  .owl-locations {
    .owl-stage {
      // padding: 50px 0;
      .item {
        padding: 48px;
        text-align: center;
        color: $white;
        box-shadow: 1px 8px 18px 10px rgba(0, 0, 0, 0.090);
  
        .content {
  
          h3,
          a {
            font-size: 26px;
            font-weight: 600;
            color: $white;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1.43px;
            line-height: 35px;
          }
  
          p {
            font-weight: 600;
            margin: 32px 0;
            font-size: 16px;
            letter-spacing: 0.88px;
            line-height: 22px;
          }
  
          a.btn {
            outline: none;
            font-size: 20px;
          }
        }
      }
    }

    .owl-item:nth-child(3n+0) {
      margin-top: 20px;
  
      .item {
        background-color: $black;
      }
    }

    .owl-item:nth-child(3n+1) {
      margin-top: 40px;

      .item {
        background-color: $red;

        .content {
          a.btn {
            border-bottom: 2px solid $white;
          }
        }
      }
    }

    .owl-item:nth-child(3n+2) {
      margin-top: 10px;

      .item {
        background-color: $white;
        color: $black;

        .content {

          h3,
          a {
            color: $black;
          }

          a.btn {
            color: $black;
          }
        }
      }
    }
  }
}

/* Home About */
#h-about {
  h2 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 60px;
    letter-spacing: 3.3px;
    line-height: 73px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 400; 
  }

  p {
    letter-spacing: 0.88px;
    color: $black;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    max-width: 70vw;
    margin: 0 auto;
  }

  strong {
    color: $red;
    text-transform: uppercase;
    letter-spacing: 9px;
    line-height: 2.5rem;
  }

  .btn {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
}

/* Home cta */
#cta {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  position: relative;

  &::before {
    content: '';
    background-color: $black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.69;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.64px;
    line-height: 73px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }

  p {
    letter-spacing: 0.88px;
    color: $black;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    max-width: 70vw;
    margin: 0 auto;
    color: $white;
  }

  .btn {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
}

/* Home testimonials */
#testimonials {
  padding: 120px 0;
  padding-left: 15vw;

  .container {
    padding-right: 15vw;

    h2 {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 60px;
      letter-spacing: 3.3px;
      line-height: 73px;
      color: $black;
    }
    p {
      font-size: 16px;
      letter-spacing: 0.88px;
      line-height: 22px;
    }
  }

  .owl-testimonials {
    .owl-stage {
      padding: 50px 0;
      .item {
        padding: 2vw;
        
        .content {
          display: flex;
          align-items: center;
          padding: 1.5vh 2vw;
          box-shadow: 1px 8px 18px 10px rgba(0, 0, 0, 0.090);
  
          .image {
            width: 92px;
            height: 92px;
            flex: none;
  
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
  
          .info {
            padding: 1vw 1.5vw 0;
            h4 {
              font-family: "Oswald", sans-serif;
              font-weight: 400;
              font-size: 25px;
              letter-spacing: 1.36px;
              line-height: 53px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      bottom: -3vh;
      right: 11vw;
    }
  }
}
