.locations {
  .locations-info {
    box-shadow: 0 70px 99px rgba(0, 0, 0, 0.22);
    padding: 24px 48px;
    margin-top: -17vh;
    background-color: $white;

    h3 {
      font-weight: 400;
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      letter-spacing: 1.64px;
      line-height: 24px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 8px;

      
    }

    ul.location-content-social {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      margin-bottom: 16px;

      li {
        margin: 0 16px;

        &:first-child {
          margin-left: 0;
        }

        a {
          i {
            color: #cacaca;
          }
        }
      }
    }

    .work-hours {
      .time-content {
        display: flex;
        color: $black;

        .day {
          flex: 1;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.88px;
          line-height: 26px;
          font-weight: 600;
        }

        .hours {
          flex: 2;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.88px;
          line-height: 26px;
          font-weight: 600;
        }
      }
    }
  }

  #map {
    width: 100%;
    height: 50%;

  }
}
