@media (min-width: 1280px) and (max-width: 1480px) {
  footer {
    .left-red {
      height: 93vh;
    }

  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-toggle__svg.icon {
    fill: $red;
  }

  .primary-navigation__items {
    li {
      // border-top: 1px solid $white;

      a {
        color: $white;
        font-size: 16px;
      }
    }
  }

  .site-header {
    background-color: rgba($black, .8);
    z-index: 1030;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
  }

  /*
  * Locations
  */

  .locations {
    .row {
      flex-direction: column-reverse;

      #map {
        height: 400px;
        margin-bottom: 32px;
      }
    }
  }

  .locations-template-default {
    .locations {
      .row {
        flex-direction: row;
      }
    }
  }


  /*
  * Footer
  */
  footer {
    .left-red {
      width: 100%;
      position: relative;
      height: 70vh;

      .footer-logo {
        flex: 1;

        img {
          height: 90%;
          position: absolute;
        }
      }

      .footer-locations {
        flex: 1;
      }
    }
  }


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .primary-navigation__items {
    li {
      border-top: 1px solid $white;

      a {
        color: $white;
        font-size: 16px;
      }
    }
  }

  .site-header {
    background-color: rgba($black, .8);
    z-index: 1030;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
  }


  /*
   *   Testimonials
   */

  #testimonials {
    .owl-testimonials {
      .item {
        padding: 22px !important;

        .content {
          flex-direction: column;
        }
      }
    }
  }


}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .menu-toggle__svg.icon {
    fill: $red;
  }

  .primary-navigation__items {
    li {
      border-top: 1px solid $white;

      a {
        color: $white;
        font-size: 16px;
      }
    }
  }

  .site-header {
    background-color: rgba($black, .8);
    z-index: 1030;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
  }

  h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  h2 {
    font-size: 28px !important;
    line-height: 40px !important;
  }

  h3 {

    line-height: 40px !important;
  }




  /*
    *   Footer
    */

  footer {
    .left-red {
      width: 100%;
      position: relative;
      height: 100vh;

      .footer-logo {
        flex: none;

        img {
          height: 90%;
          position: absolute;
        }
      }
    }
  }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .menu-toggle__svg.icon {
    fill: $red;
  }

  .primary-navigation__items {
    li {
      border-top: 1px solid $white;

      a {
        color: $white;
        font-size: 16px;
      }
    }
  }

  .site-header {
    background-color: rgba($black, .8);
    z-index: 1030;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
  }

  .menu-toggle {
    outline: none;

    &:focus {
      outline: none;
    }
  }

  h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  h2 {
    font-size: 28px !important;
    line-height: 40px !important;
  }

  h3 {

    line-height: 40px !important;
  }

  /*
    *   Header image
    */
  #header-image {
    .header-image-content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      p {
        margin-left: 0;
        font-size: 16px;
        margin-top: 16px;
      }
    }
  }

  /*
    *   Home
    */

  #home {
    .home-content {
      a.btn {
        margin-top: 0;
      }
    }
  }

  #h-locations {
    .owl-item {
      margin-top: 0 !important;

      .item {
        min-height: 320px;
      }
    }
  }

  #h-about {
    strong {
      letter-spacing: 2px;
    }
  }





  /*
    *   Testimonials
    */

  #testimonials {
    padding-left: 0;

    .owl-testimonials {
      .item {
        padding: 22px !important;

        .content {
          flex-direction: column;
        }
      }

      .owl-nav {
        bottom: 0;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }

  /*
  * Locations
  */

  .locations {
    .row {
      flex-direction: column-reverse;

      #map {
        height: 400px;
        margin-bottom: 32px;
      }
    }
  }

  /*
    *   Footer
    */

  footer {
    .left-red {
      width: 100%;
      position: relative;
      height: 70vh;

      .footer-logo {
        flex: none;
        margin-right: -20px;

        img {
          height: 90%;
          position: absolute;
        }
      }
    }

    .contact-form {
      text-align: center;
    }
  }

}


/* Update */
@media (max-width: 480px) {
  #h-about {
    p {
      width: 100%;
      max-width: 100%;
    }
  }

  #testimonials {
    .owl-testimonials {
      .owl-nav {
        z-index: 2;
        margin-top: 1vw;
        transform: translate(50%, -15%);
      }

      .owl-stage {
        .item {
          .content {
            min-height: 44vh;

            .info {
              h4 {
                text-align: center;
                margin-bottom: 2vw;
              }

              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .site-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #home {
    // padding-top: 100px;

    .home-content {
      h1 {
        font-size: 2rem;
        line-height: initial;
        margin-bottom: 2vh;
      }

      h2 {
        font-size: 16px;
        margin: 0;
        margin-bottom: 2vh;
      }

      a.btn {
        margin-left: -1vw;
        margin-top: 0;
      }
    }
  }

  #h-locations {
    margin-top: -8vw;
  }

  #cta {
    h3 {
      line-height: inherit;
    }
  }

  #testimonials {
    padding: 50px 0;

    .container {
      padding-right: 0;
    }

    .owl-testimonials {
      .owl-stage {
        padding-top: 0;

        .owl-item {
          .content {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }

  footer {
    .left-red {
      .footer-logo {
        position: absolute;
        width: 100%;
      }

      .footer-locations {
        width: 100%;
        display: flex;
        flex-direction: inherit;
        align-items: center;
        justify-content: space-between;

        .location-content {
          margin: 0;
        }


        h2,
        .slick-carousel {
          flex: 1;
        }

        .week {
          font-size: 0.9rem;
        }


        .slick-carousel {
          overflow: hidden;
          flex: 1;
          display: block;
          height: 100%;
          margin-left: 1vw;
          padding: 10px;
        }
      }
    }

  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    .left-red {
      max-height: 47vh;

      .footer-logo {
        position: absolute;
        width: 100%;
      }

      .footer-locations {
        display: flex;
        flex-direction: row;
        align-items: center;

        .slick-carousel {
          height: 100%;
          overflow: hidden;

          .slick-list {
            .slick-track {
              .location-content {
                margin: 0;
              }
            }
          }
        }

        h2,
        div {
          flex: 1;
        }
      }
    }
  }
}

@media (min-width: 1279px) and (max-width: 1400px) {
  #testimonials {
    .owl-testimonials {
      .owl-stage {
        .item {
          .content {
            min-height: 19vw !important;
          }
        }
      }
    }
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  #cta h3 {
    line-height: inherit;
  }
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

  /* ipad landscape */
  .primary-navigation__items li {
    border-top: 1px solid transparent;
  }

  #testimonials {
    .owl-testimonials {
      .owl-stage {
        .item {
          .content {
            min-height: 50vh;
            text-align: left;
          }
        }
      }
    }
  }

  footer {
    .left-red {
      // height: 35vh;
    }

    .container {
      .col-md-12:first-child {
        // display: none;
      }

      .col-md-12:nth-child(2) {
        margin: 0 auto;
      }
    }


  }

  .copyright {
    .container {
      .col-md-12:first-child {
        // display: none;
      }

      .col-md-12:nth-child(2) {
        // width: 100%;
        // margin: 0 auto;
        // min-width: 100%;
      }

      .copyright-content {
        justify-content: space-between !important;
        width: 100%;
      }
    }
  }
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

  .primary-navigation__items li {
    border-top: 1px solid transparent;
  }

  #testimonials {
    .owl-testimonials {
      .owl-stage {
        .item {
          .content {
            min-height: 24vh;
            text-align: left;
          }
        }
      }
    }
  }

  #cta h3 {
    text-align: center;
    line-height: inherit;
    font-size: 1.8rem;
  }

  footer {
    .left-red {
      height: 35vh;
    }

    .container {
      .col-md-12:first-child {
        display: none;
      }

      .col-md-12:nth-child(2) {
        margin: 0 auto;
      }
    }


  }

  .copyright {
    .container {
      .col-md-12:first-child {
        display: none;
      }

      .col-md-12:nth-child(2) {
        width: 100%;
        margin: 0 auto;
        min-width: 100%;
      }

      .copyright-content {
        justify-content: space-between !important;
        width: 100%;
      }
    }
  }
}

@media (min-width: 1600px) {
  #testimonials {
    .owl-testimonials {
      .owl-stage {
        .item {
          .content {
            min-height: 23vh;
          }
        }
      }
    }
  }
}
