/* ==========================================================================
 # Buttons
========================================================================== */

.button {
  @include button;
}

.btn {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0;
  outline: none;
  letter-spacing: 1.8px;
  line-height: 30px;
}

.btn-white-outline {
  background-color: $white;
  border: 1px solid $white;
  color: $red !important;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    border: 1px solid $white;
    color: $white !important;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
  }
}

.btn-red {
  color: $white;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $red;
    transition: all .3s ease-in-out;
  }

  &:hover::after {
    height: 3px;
  }
}

.btn-black {
  color: $black;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: $black;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $red;
    transition: all .3s ease-in-out;
  }

  &:hover::after {
    height: 3px;
  }
}

.btn-white {
  color: $white;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $red;
    transition: all .3s ease-in-out;
  }

  &:hover::after {
    height: 3px;
  }
}
