/*
 *   ==================================== Footer ================================
 */
footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: 100px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.79);
    mix-blend-mode: multiply;
  }

  .left-red {
    background-color: $red;
    height: 96vh;
    width: 45vw;
    position: absolute;
    margin-top: -80px;
    display: flex;
    z-index: 10;

    .footer-logo {
      padding: 32px;
      height: 100%;
      flex: 1;

      img {
        height: 100%;
      }
    }

    .footer-locations {
      flex: 1;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-family: "Oswald", sans-serif;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 12.5px;
        text-transform: uppercase;
        font-weight: 300;
        color: $white;
        margin-bottom: 0;
      }

      .location-content {
        margin: 24px 0;

        h3,
        a {
          color: $white;
          font-weight: 400;
          font-family: "Oswald", sans-serif;
          margin-bottom: 4px;
          letter-spacing: 1.64px;
          line-height: 30px;
                 
        }

        ul {
          list-style: none;
          display: flex;
          margin: 0;
          padding: 0;
          margin-bottom: 16px;

          li {
            margin: 0 16px;

            &:first-child {
              margin-left: 0;
            }

            a {
              i {}
            }
          }
        }

        .week {
          .time-content {
            display: flex;
            color: $white;

            .day {
              flex: 1;
              text-transform: uppercase;
            }

            .hours {
              flex: 4;
              text-transform: uppercase;
            }
          }
        }

        a.btn-white-outline {
          margin-top: 16px;
        }
      }
    }
  }

  .contact-form {
    padding: 40px 0;

    h2 {
      font-size: 25px;
      line-height: 34px;
      letter-spacing: 16.5px;
      text-transform: uppercase;
      font-weight: 300;
      color: $white;
      font-family: 'Oswald', sans-serif;
    }

    h1 {
      font-size: 60px;
      font-weight: 400;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 32px;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 3.3px;
    }

    body .gform_wrapper .top_label div.ginput_container {
      width: 100%;
    }

    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      width: 100%;
    }

    .gform_wrapper .gform_footer {
      text-align: right;
    }

    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_footer input[type=submit] {
      border: 0;
      border-bottom: 2px solid $red;
      margin-right: 0;


      &:hover {
        background-color: transparent;
      }
    }

    form {

      input,
      textarea {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $white;
        background-color: transparent;
        outline: none;
        box-shadow: none;
        color: $white !important;
        text-transform: uppercase;

        &:focus,
        &:active {
          background-color: transparent;
          outline: none;
          box-shadow: none;
        }

        &::placeholder {
          color: $white;
        }
      }

      textarea {
        height: 140px;
      }

      button {}
    }
  }
}

.copyright {
  background-color: $white;
  padding: 36px 0;

  .copyright-content {
    .left {
      ul.social {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0 16px;

          &:first-child {
            margin-left: 0;
          }

          a {
            color: $black;
            transition: all .3s ease-in-out;

            &:hover {
              color: $red;
            }

            i {
              font-size: 25px;
            }
          }
        }
      }

      p {
        margin: 0;
        margin-top: 16px;
      }
    }

    .right {
      margin-left: 48px;

      .arrow {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;

        a.scrollup {
          border: 3px solid $red;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: red;
          }

          &:hover i {
            color: $white;
          }

          i {
            color: $black;
          }
        }
      }
    }
  }
}

.slick-slide {
  outline: none;
}

.slick-slider {
  padding: 32px 0;
} 